[submodule "libft"]
	path = libft
	url = git@github.com:AndrePortfolio/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:AndrePortfolio/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:AndrePortfolio/get_next_line.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:AndrePortfolio/push_swap.git
[submodule "so_long"]
	path = so_long
	url = git@github.com:AndrePortfolio/so_long.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:AndrePortfolio/pipex.git
[submodule "philo"]
	path = philo
	url = git@github.com:AndrePortfolio/philo.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:AndrePortfolio/minishell.git
[submodule "born2beroot"]
	path = born2beroot
	url = git@github.com:AndrePortfolio/born2beroot.git
[submodule "rank02/philo"]
	path = rank02/philo
	url = git@github.com:AndrePortfolio/philo.git
[submodule "rank00/libft"]
	path = rank00/libft
	url = git@github.com:AndrePortfolio/libft.git
[submodule "rank01/get_next_line"]
	path = rank01/get_next_line
	url = git@github.com:AndrePortfolio/get_next_line.git
[submodule "rank01/ft_printf"]
	path = rank01/ft_printf
	url = git@github.com:AndrePortfolio/ft_printf.git
[submodule "rank01/born2beroot"]
	path = rank01/born2beroot
	url = git@github.com:AndrePortfolio/born2beroot.git
[submodule "rank02/push_swap"]
	path = rank02/push_swap
	url = git@github.com:AndrePortfolio/push_swap.git
[submodule "rank02/so_long"]
	path = rank02/so_long
	url = git@github.com:AndrePortfolio/so_long.git
[submodule "rank02/pipex"]
	path = rank02/pipex
	url = git@github.com:AndrePortfolio/pipex.git
[submodule "rank03/philo"]
	path = rank03/philo
	url = git@github.com:AndrePortfolio/philosophers.git
[submodule "rank03/minishell"]
	path = rank03/minishell
	url = git@github.com:AndrePortfolio/minishell.git
[submodule "rank04/cub3d"]
	path = rank04/cub3d
	url = git@github.com:AndrePortfolio/cub3d.git
